@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Remove figure borders  */
.inline-figure {
	border: none;
}

#toc {
	font-family: 'Lato', sans-serif;
}

#main-nav {
	font-family: 'Lato', sans-serif;
}

#book-repo {
	font-family: 'Lato', sans-serif;
}

/* User written code  */
.sourceCode {
	font-size: 13px;
	font-family: 'Fira Code';
	background-image: none;
	background-color: #fffcf5;
}

/* Console output  */
pre {
	background-image: none;
}

/* Console output  */
code {
	font-size: 13px;
	font-family: 'Fira Code';
}

h1 {
	font-size: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
}

body {
	font-size: 15px;
	font-family: 'Lato', serif;
	font-weight: 300;
}

/* This is from Hadley */
/* --------------------------------- */
p.caption {
	color: #777;
	margin-top: 10px;
}
p code {
	white-space: inherit;
}
pre {
	word-break: normal;
	word-wrap: normal;
}
pre code {
	white-space: inherit;
}

/* Sidebar formating --------------------------------------------*/

div.sidebar {
	border-left: 7px solid #ccc;
	margin: 1em 0;
	padding-left: 1em;
}

/* .book .book-body .page-wrapper .page-inner section.normal is needed
   to override the styles produced by gitbook, which are ridiculously
   overspecified. Goal of the selectors is to ensure internal "margins"
   controlled only by padding of container */

.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :first-child {
	margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :last-child {
	margin-bottom: 0;
}
